.wholeContainer {
  background-color: #333333;
  color: #dddddd;
  min-height: 100vh;
}
.container {
  width: 950px;
  margin: auto;
}

@media (max-width: 1000px) {
  .container {
    width: 750px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 470px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 350px;
    margin: auto;
  }
}
